USE [master]
GO
/****** Object:  Database [company]    Script Date: 10/3/2022 8:20:16 AM ******/
CREATE DATABASE [company]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'company', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\company.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'company_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\company_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [company].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [company]
GO
/****** Object:  Table [dbo].[Karyawan]    Script Date: 10/3/2022 8:20:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Karyawan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](50) NOT NULL,
	[TanggalLahir] [date] NULL,
	[JumlahAnak] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KendaraanPerusahaan]    Script Date: 10/3/2022 8:20:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KendaraanPerusahaan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipe] [varchar](30) NOT NULL,
	[Warna] [varchar](20) NULL,
	[TanggalBeli] [datetime] NULL,
	[JumlahRoda] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
